@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap');
h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}