@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Ubuntu&display=swap');
body{
    font-family: "Montserrat";
}

h1{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.c-fluid{
    padding: 3% 15%;
}

.row{
    padding-top: 6%;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
}

.navbar{
    padding:0;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    font-weight: lighter;
    font-size: 1.2rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* Feature-Section */

#features h3{
   font-weight: 700;
    font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
}

.feature-icon {
    color: #ef8172;
    font-size: 4.5rem;
    margin: 3.5rem 0 1rem 0;
}
.col-lg-4{
    text-align: center;
    padding-right: 7rem;
}
.cf-fluid{
    padding:7% 1% 10% 15%;
}

.feature-icon:hover{
    color: #ff4c68;
}

