@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Ubuntu&display=swap');
body{
    font-family: "Montserrat";
}

h1{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.c-fluid{
    padding: 3% 11% 6%;
}

.row-title{
    padding-top: 6%;
}
    
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


.navbar{
    padding:0;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    font-weight: lighter;
    font-size: 1.2rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* Feature-Section */

#features{
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
    position: relative;
  
}
#features h3{
   font-weight: 700;
    font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
}

.feature-icon {
    color: #ef8172;
    font-size: 4.5rem;
    margin: 3.5rem 0 1rem 0;
}
.col-feature{
    text-align: center;
    padding-right: 7rem;
}
.cf-fluid{
    padding:7% 1% 10% 15%;
}

.feature-icon:hover{
    color: #ff4c68;
}

/* Testimonial-Section */
#testimonials{
   
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

#testimonials h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 14%;
}
/* Press-Section */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing-section */

#pricing{
    padding: 100px;
    text-align: center;
}

.price-col{
    padding: 3% 2%;
}
